<div class="container">
  {{#if messages.error}}
    <div class="text-danger">
      {{#each messages.error}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}

  <script>
    document.getElementsByTagName('nav')[0].hidden = 'hidden'

  </script>

  <style>
    #LoginHome{
      float: right;
      margin-top: 70px;
      background-color: #fff;
      padding: 20px;
      
      opacity: 0.8;
      filter: alpha(opacity=80);
      
      width: 500px;
      min-width: 250px;
      border-radius: 15px 50px;
    }

  </style>

  <img src="/images/logoFull.png" style="margin-top:70px; margin-left: -50px; margin-right: 50px; min-width:250px; width:550px; height: 358px; min-height: 163px;"/>

  <div id="LoginHome">

    <!--  col-md-4 offset-md-4 col-sm-8 offset-sm-2 mt-5 mb-5 -->
    <form class="form-signin" method="POST">
    <h1 class="h3 mb-3 font-weight-normal">Cadastre-se</h1>
      <!--
      <label class="sr-only" for="company">Empresa</label>
      <input type="company" class="form-control" name="company" id="company" placeholder="Empresa" autofocus>
      -->
      <label class="sr-only" for="email">Email</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="Email">
      <br />
      <label class="sr-only" for="name">Nome</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="Nome">
      <br />
      <label class="sr-only" for="password">Senha</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Senha">
      <button type="submit" class="btn btn-lg btn-black btn-block mt-3" style="background-color: #185285; font-weight: bold; color: #fff;">Salvar</button>
    </form>
    <hr>


    <p align="center">Já é cadastrado? <a href="/login">Entrar</a></p>
    <br />
  </div>
</div>
