<link rel="stylesheet" href="/css/wysiwyg.css">
  <div class="main">
    <div id="editor_panel"></div>  
    <textarea name="description" id="editor_area">
        {{description}}
    </textarea>
  </div>
<script src="/js/wysiwyg.js"></script>