<style>
    footer {
        padding: 25px;
        display: flex;
        justify-content: center;
    }

    footer a {
        padding: 10px;
        font-weight: bold;
    }
</style>

<br clear="both">

<footer>
    <a href="/doc/termo-de-servicos.pdf" target="_blank">Termos de uso</a>
    <a href="/doc/politica-de-privacidade.pdf" target="_blank">Política de privacidade</a>
</footer>