<style>
    footer {
        display: flex;
        justify-content: center;
    }

    footer a {
        padding: 10px;
        font-size: 12px;
        font-weight: bold;
    }
</style>

<footer class="text-center">
    <p>
        <a href="/doc/termo-de-servicos.pdf" target="_blank">Termos de uso</a>
        <a href="/doc/politica-de-privacidade.pdf" target="_blank">Política de privacidade</a>
    </p>
</footer>