<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Manual Facil</title>
<title>{{title}}</title>
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/flexboxgrid.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
{{> header}}
{{{body}}}
{{> footer}}

<script src="/js/main.js"></script>
</body>
</html>
