<div class="container mt-2 mb-4" style="background-color: #fff; padding: 20px;">
  {{#if messages.success}}
  <div class="text-success">
    {{#each messages.success}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}} {{#if messages.error}}
  <div class="text-danger">
    {{#each messages.error}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}}

  <h1 class="col-sm-12 pt-4">Criar novo Manual - {{company}}</h1>

  <form method="POST">
    <div class="form-group">
      <label for="isActive">Ativo?</label>
      <div class="btn-group btn-group" data-toggle="buttons"><label class="btn"><input type="checkbox" name="isActive" id="isActive" value="false" onclick="this.value=this.checked;"><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span></span></label></div>
    </div>
    <div class="form-group">
      <label for="title">Título</label>
      <input type="text" class="form-control" name="title" id="title">
    </div>
    <div class="form-group">
      <label for="caption">Subtítulo</label>
      <input type="text" class="form-control" name="caption" id="caption">
    </div>
    <div class="form-group">
      <label for="order">Numero do Capitulo</label>
      <input type="number" class="form-control" name="order" id="order" min="0">
    </div>
    <div class="form-group">
      <label for="cTitle">Título do Capitulo</label>
      <input type="text" class="form-control" name="cTitle" id="cTitle">
    </div>
    <div class="form-group">
      <label for="description">Descrição</label>
      {{>editor}}
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-dark my-2">Salvar</button>
    </div>
  </form>