<div class="container mt-2 mb-4" style="background-color: #fff; padding: 20px;">
  {{#if messages.success}}
  <div class="text-success">
    {{#each messages.success}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}} {{#if messages.error}}
  <div class="text-danger">
    {{#each messages.error}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}}

  <h1 class="col-sm-12 pt-4">Editar Capitulo</h1>
  <form method="POST">
    <div class="form-group">
      <label for="order">Numero do Capitulo</label>
      <input type="number" class="form-control" name="order" id="order" min="0" value="{{order}}">
    </div>
    <div class="form-group">
      <label for="cTitle">Título do Capitulo</label>
      <input type="text" class="form-control" name="cTitle" id="cTitle" value="{{cTitle}}">
    </div>
    <div class="form-group">
      <label for="description">Descrição</label>
      {{>editor}}
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-dark my-2">Salvar</button>
    </div>
  </form>